*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: FiraGO;
}
body {
    /* min-height: 100%; */
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Capture.PNG); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;*/
    overflow-x: hidden; 
}

@font-face{
    font-family: FiraGO;
    src:url(../fonts/FiraGO-Regular.otf)
}

.header{
    width:100%;
    height:15.4vh;
    background-color: #ffffff;
    padding-left: 11vw;
    padding-right: 11vw;
    position: fixed;
    z-index: 1;
}
.header_h1_logo{
    background-image: url(../images/ლოგო\ -\ საქსტატი.png);
    background-repeat: no-repeat;
    background-size: 100%; 
    width:70px;
    height: 46px;
    position: absolute;
    top: 25px;
    text-indent: -999px;
}
.header_h1_logo a{
    width:82px;
    height: 46px;
    display: block;
}
.header_h1_text{
    background-image: url(../images/საქართველოს\ სტატისტიკის\ ეროვნული\ სამსახური.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width:200px;
    height: 40px;
    position: absolute;
    top: 40px;
    left:17vw;
 }
 .header_h1_text a{
    width:200px;
    height: 36px;
    display: block;
    padding: 10px;
 }
 .header_info_div{
    display: flex;
 }
 .language_changer_div{
    border: 1px solid #808184;
    display: flex;
    /* padding: 15px; */
    width:80px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin: 34px 44px auto auto;
    border-radius: 30px;
 }
 .language_changer_div p{
    padding:7px;
    color: #808184;
    font-size: 11px;
 }
 .fa-solid{
    font-size: 14px;
 }
 .socialnetwork_div{
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-top: 34px;
    margin-right: 10px;
    width:80px;
    height: 30px;
 }
 .socialnetwork_div p{
    
    color: #808184;
 }
 .twitter_p{
    padding: 15px;
 }


 /* ----------------------------
 ----------main------------- */

 .main{
    padding-left: 11vw;
    padding-right: 11vw;

 }
 .img-slide{
    position: absolute;
   margin-left: -11.5vw;
   /* width: 101%; */
   background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
    clip-path: circle(0% at 0 50%);
 }
 .img-slide.active{
   clip-path:none;
   transition: 2s ease;
   transition-property: clip-path;
 }
 .soflis_meurneobis_statistikis_portali{
    padding-top: 200px;
    font-size: 50px;
    color: #ffffff;
    position: relative;
 }
 .five_div{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
 }
 .five_div_1, 
 .five_div_2, 
 .five_div_3,
 .five_div_4,
 .five_div_5{
    width:200px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;
    transition: 0.5s;
 }
 .five_div_1:hover, 
 .five_div_2:hover, 
 .five_div_3:hover,
 .five_div_4:hover,
 .five_div_5:hover{
    cursor:context-menu;
    background-color: #375B6A;
    margin-top: -20px;
    .five_div_1_div,
   .five_div_2_div,
   .five_div_3_div,
   .five_div_4_div,
   .five_div_5_div{
    background-color: #ffffff;
    }
    .five_div_1_h3,
    .five_div_2_h3,
    .five_div_3_h3,
    .five_div_4_h3,
    .five_div_5_h3{
       color: #ffffff;
    }
    .five_div_1_div_img1,
   .five_div_1_div_img2,
   .five_div_1_div_img3,
   .five_div_1_div_img4,
   .five_div_1_div_img5{
      filter: invert(80%) sepia(57%) saturate(2366%) hue-rotate(120deg) brightness(97%) contrast(105%);    
 }
    
 }
 /* .five_div_2{
    margin: 0 55px;
 } */
 .five_div_1_div,
 .five_div_2_div,
 .five_div_3_div,
 .five_div_4_div,
 .five_div_5_div{
    background-color: #005F15;
    width:70px;
    height: 68px;
    border-radius: 10px;
    margin:25px auto auto 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
 }
 

 .five_div_1_div_img1,
 .five_div_1_div_img2,
 .five_div_1_div_img3,
 .five_div_1_div_img4,
 .five_div_1_div_img5{
    width: 40px;
    height: 40px;
    transition: 1s;
    margin-bottom:-5px;
 }

 .five_div_1_h3,
 .five_div_2_h3,
 .five_div_3_h3,
 .five_div_4_h3,
 .five_div_5_h3{
    font-size: 18px;
    color: #005F15;
    margin: 16px auto auto 25px;
    transition: 1s;
 }
 .five_div_1_show_button,
 .five_div_2_show_button,
 .five_div_3_show_button,
 .five_div_4_show_button,
 .five_div_5_show_button{
    width: 150px;
    height: 40px;
    font-size: 16px;
    background-color: #C2E854;
    border-radius: 10px;
    /* margin: 25px auto auto auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 22px;
    left: 50%;
   transform: translateX(-50%);
 }
 .five_div_1_show_button,
 .five_div_2_show_button,
 .five_div_3_show_button,
 .five_div_4_show_button,
 .five_div_5_show_button{
   cursor: pointer;
 }
 .five_div_1_show_button a ,
 .five_div_2_show_button a,
 .five_div_3_show_button a,
 .five_div_4_show_button a ,
 .five_div_5_show_button a{
   width: 150px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    /* margin: 25px auto auto auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #000000;
    /* bottom: 22px; */
    left: 50%;
   transform: translateX(-50%);
 }
 .line_div{
    width:100%;
    height: 1px;
    background-color: #ffffff;
    margin-top: 40px;
    position: relative;
 }
 .small_text_p{
    font-size: 16px;
    color: #ffffff;
    margin-top: 30px;
    position: relative;
 }
 .arrow_div{
    display: flex;
    margin-top: 26px;
    position: relative;
 }
 .fa-arrow-right,
 .fa-arrow-left{
    font-size: 20px;
    color: #ffffff;
 }

 .count_div{
    display: none;
    justify-content: space-between;
    margin-top: 32px;
 }
 .count_div.active{
   display: flex;
   justify-content: space-between;
   margin-top: 32px;
}
 .count_div_1,
 .count_div_2,
 .count_div_3,
 .count_div_4{
    width:250px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    border: 1px solid #ffffff;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .count_div img{
    width:36px;
    height: 38px;
    color: yellowgreen;
 }
 .count_div_1_text,
 .count_div_2_text,
 .count_div_3_text,
 .count_div_4_text{
    font-size: 16px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    transition: 1s;
 }
 .count_div_1_numb,
 .count_div_2_numb,
 .count_div_3_numb,
 .count_div_4_numb{
    font-size: 20px;
    font-weight: bold;
    color: #C2E854;
 }

 .circle_div{
    display: flex;
    justify-content: space-between;
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
 }
 
 .circle_div_dot{
    width:20px;
    height: 20px;
    box-shadow:rgba(233, 232, 232, 0.096);
    border-radius: 50%;
    border: 1px solid #ece2e2;
    transition: 0.3s ease;
 }
 
 .circle_div_dot.active{
    background: #ffffff;
 }
 /* .circle_div_dot1.active:not(:last-child),
 .circle_div_dot2.active:not(:last-child),
 .circle_div_dot3.active:not(:last-child),
 .circle_div_dot4.active:not(:last-child),
 .circle_div_dot5.active:not(:last-child){
    margin-right:20px;
 } */
 
 .circle_div_dot:hover{
    transform: scale(1);
    cursor: pointer;
 }

 