#body{
    background-color: #F5F5F5;
}
.header{
    box-shadow:1px 1px 20px #abacad;
    position: relative;
    z-index: 56;
}
.nav ul{
    display: flex;
    position: absolute;
    left: 450px;
    top: 30px;
}
.nav ul li{
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 5px;
}
.nav ul li a{
    color: #1D4657;
}
.active_li{
    border-bottom: 2px solid #1D4657;
}

.machveneblebi_main_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    margin-top: 80px;
    width: 1000px;
    margin: 20px auto;
}
.machveneblebi_main_div_rva{
    /* width: 180px; */
    height: 170px;
    margin-bottom:100px ;
    position: relative;
}
.machveneblebi_main_div_rva img{
    /* width: 250px; */
    height: 240px;
}
.machveneblebi_main_div_white_div{
    width: 130px;
    height: 70px;
    background-color: #ffffff;
    position: absolute;
    font-size: 12px;
    padding-top:30px;
    box-shadow: 1px 1px 15px #868686;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translateX(-50%);
    left:50%;
}
.machveneblebi_main_div_white_div:hover{
    cursor: pointer;
}
.machveneblebi_main_div_white_div_green{
    width: 50px;
    height: 50px;
    background-color: #005F15;
    border-radius: 5px;
    position: absolute;
    bottom: 65%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.machveneblebi_main_div_white_div_green img{
    width: 50%;
    height: 50%;
    
}
.ge45 img{
    width: 60%;
    height: 40%;
}
.right_side_socialNetwork{
    width: 50px;
    /* height: 300px; */
    background-color: #1D4657;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 557;
}
.right_side_socialNetwork img{
    padding-top: 12px;
    padding-bottom: 12px;
    width: 20px;
}
/* -----------footer--------- */


.footer{
    width: 100%;
    background-color: #1D4657;
}
.footer_three_div{
    display: flex;
    justify-content: space-around;
    padding-left: 9vw;
    padding-right: 9vw;
}
.footer_three_div_1_h3{
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 20px;
}
.footer_three_div_1 p{
    font-size: 12px;
    color: #ffffff;
    padding-top: 10px;
}
.socialNetwork_footer_div{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 9vw;
    padding-right: 9vw;
}

.socialNetwork_footer_div_imgs{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.socialNetwork_footer_div_imgs .TWW{
    padding:0 20px
}

.socialNetwork_footer_div_satauri{
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 30px;
}
.footer_line_div{
    width:100%;
    height: 1px;
    margin-top: 30px;
    background-color: #D9D9D9;
}
.footer_uflebebis_dacva{
    padding: 30px 0;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

/* ---------------
----------------
---------------
--------------- */

.gender_page{
    background-color: #F5F5F5;
    width: 100%;
    position: relative;
    z-index: 55;
}
.gender_page_main_div{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.gender_search{
    width: 300px;
    height: 500px;
    border-radius: 5px;
    border: 1px solid #a8a6a6;
    padding: 15px;
    background-color: #ffffff;
    margin-right: 20px;
}
.dziritadimachveneblebi_search{
    height: 200px;
}
.mecxoveleoba_search{
    height: 390px;
}
.gender_lebel_awesome{
    display: flex;
    font-size: 16px;
}
.gender_lebel_awesome i{
    color: #005F15;
    font-size: 18px;
    margin-right: 15px;
}
.gender_search input{
    height: 40px;
    margin-top: 15px;
    width: 100%;
}
.gender_line_div{
    width: 100%;
    background-color: #a8a6a6;
    height: 1px;
    margin-top: 20px;
}
.gender_submit{
    border-radius: 5px;
    background-color: #005F15;
    box-shadow: unset;
    color: #ffffff;
    border: none;
}
.gender_submit:hover{
    cursor: pointer;
}
.gender_ganawileba_div{
    background-color: #ffffff;
    padding: 30px;
    height: 500px;
}
.gender_ganawileba_div_satauri{
    display: flex;
    justify-content: space-between;
}
.gender_ganawileba_div p {
    margin-right: 100px;
}
.gender_ganawileba_div i {
    font-size: 18px;
}



/* -----------------
-----------------
-----------------
memcenareoba.html
-------------------
-------------------- */

.memcenareoba_nav_div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.memcenareoba_nav_div_1234{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #abacad;
    border-radius: 15px;
    width: 250px;
}
.memcenareoba_nav_div_1234:first-child{
    background-color: #1D4657;
}
.memcenareoba_nav_div_1234:first-child div{
    height: 45px;
}
.memcenareoba_nav_div_1234:first-child p{
    color: #ffffff;
}
.memcenareoba_nav_div_1234:not(:last-child){
    margin-right: 5px;
}
.memcenareoba_nav_div_1234 div{
    padding: 10px;
    background-color: #dfdfdf;
    border-radius: 5px;
    margin-right: 15px;
}
.memcenareoba_nav_div_1234 p{
    font-size: 14px;
    color: #1D4657;
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
    .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  
  .container input:checked ~ .checkmark {
    background-color: #005F15;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  .choose{
    margin-top: 15px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    position: relative;
  }
  .gender_search_regionebi_div{
    display: flex;
  }
  .gender_search_regionebi_div img{
    height: 25px;
    align-items: center;
    margin-top: 10px;
  }
  .gender_search_regionebi_div label{
    padding-left: 5px;
  }
  .gender_lebel_awesome_mecxoveleoba img{
    margin-right: 8px;
    
}
.gender_lebel_awesome_mecxoveleoba{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.gender_lebel_awesome_sasursatoBalansi{
    border: 1px solid #868686;
    width: 300px;
    height: 40px;

}
.foreigh_div{
    display: flex;
    margin-right: 10px;
    width: 170px;
    height: 35px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
}
.foreigh_div i{
    font-size: 18px;
    padding: 8px;
    color: #005F15;
}
.foreigh_div select{
    border: 1px solid #ffffff;
}
.choose_1{
    width: 100%;
    outline: none;
    
}
.foreigh_div img{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.sasursatoBalansi_search{
    display: flex;
    align-items: center;
    width: 40%;
    /* height: 50px; */
    border-radius: 5px;
    border: 1px solid #a8a6a6;
    padding: 5px;
    background-color: #ffffff;
    margin-right: 20px;
}
.sasursatoBalansi_search input{
    height: 35px;
    width: 30%;
    margin-left: 10px;
}
.sasursatoBalansi_info{
    display: flex;
    justify-content: center;
    width: 35%;
    border: 1px solid #a8a6a6;
    border-radius: 15px;
    padding: 5px;
    background-color: #F1F6FF;
}
.sasursatoBalansi_info p{
    font-size: 12px;
    color: #1D4657;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
}
.sasursatoBalansi_info_p_2th{
    margin:0 15px;
}
.sasursatoBalansi_info_p_1th{
    /* border: 1px solid #a8a6a6; */
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #a8a6a6;
}
.sasursatoBalansi_ganawileba_div{
    background-color: #ffffff;
    padding: 30px;
    height: 500px;
    width: 80%;
    margin:50px auto;
}

